<h1>학생 목록</h1>
<table class="table table-striped text-center">
  <thead>
    <tr>
      <th class="text-center">학생이름</th>
      <th class="text-center">전화번호</th>
      <th class="text-center">이메일</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.name, user %></td>
        <td><%= user.phone %></td>
        <td><%= user.email %></td>
        <td><%= link_to '레슨보기', user_lessons_path(user) %></td>
        <!-- <td><#%= link_to '수정하기', edit_user_path(user) %></td> -->
        <!-- <td><#%= link_to '삭제하기', user, method: :delete, data: { confirm: '정말 삭제할까용?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '학생 등록하기', new_user_path, {class: "btn btn-success"} %>