<%= form_for(@schedule) do |f| %>
  <% if @schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@schedule.errors.count, "error") %> prohibited this schedule from being saved:</h2>

      <ul>
      <% @schedule.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :day, '날짜' %><br>
    <%= select_tag "schedule[day]", 
    options_for_select([['월', 'monday'], ['화', 'tuesday'],['수', 'wednesday'], ['목', 'thursday'],['금', 'friday'], ['토', 'saturday']],@schedule.day) %>
  </div>
  <div class="field">
    <%= f.label :hour, '시간' %><br>
    <%= f.number_field :hour %>
  </div>
  <div>
    <%= f.label :user_id, '학생 선택'%><br>
    <%= select_tag "schedule[user_id]", options_from_collection_for_select(@users, "id", "name") %>
    
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
