<h2><%= @user.name %>님의 레슨입니다.</h2>

<%= form_for([@user,@lesson]) do |f| %>
  <% if @lesson.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lesson.errors.count, "error") %> prohibited this lesson from being saved:</h2>

      <ul>
      <% @lesson.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field col-xs-3">
    <%= f.label :lesson_date, '레슨 일자' %><br>
    <%= f.date_select :lesson_date, {}, {class: "form-control pull-left"}%>
  </div>
  <div class="field">
    <%= f.label :turn, '차수'%><br>
    <%= f.number_field :turn, {class:"form-control", placeholder:"(ex) 3회차"}%>
  </div>
  <div class="field">
    <%= f.label :goal, '목표' %><br>
    <%= f.text_area :goal, {class:"form-control", rows:"3"} %>
  </div>
  <div class="field">
    <%= f.label :song, '연습곡'%><br>
    <%= f.text_field :song, {class:"form-control", placeholder:"연습할 곡을 적어주세요."} %>
  </div>
  <div class="field">
    <%= f.label :homework, '과제'%><br>
    <%= f.text_field :homework, {class:"form-control", placeholder:"과제를 적어주세요."} %>
  </div>
  <div class="actions">
    <%= f.submit("새 레슨 등록",{class: "btn btn-success pull-left"}) %>
  </div>
<% end %>
