<h2><%= @user.name %>님의 레슨입니다.</h2>

<%= form_for([@user,@lesson]) do |f| %>
  <% if @lesson.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lesson.errors.count, "error") %> prohibited this lesson from being saved:</h2>

      <ul>
      <% @lesson.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :lesson_date %><br>
    <%= f.datetime_select :lesson_date %>
  </div>
  <div class="field">
    <%= f.label :turn %><br>
    <%= f.number_field :turn %>
  </div>
  <div class="field">
    <%= f.label :goal %><br>
    <%= f.text_area :goal %>
  </div>
  <div class="field">
    <%= f.label :song %><br>
    <%= f.text_field :song %>
  </div>
  <div class="field">
    <%= f.label :homework %><br>
    <%= f.text_field :homework %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
