<p id="notice"><%= notice %></p>

<p>
  <strong>Lesson date:</strong>
  <%= @lesson.lesson_date %>
</p>

<p>
  <strong>Turn:</strong>
  <%= @lesson.turn %>
</p>

<p>
  <strong>Goal:</strong>
  <%= @lesson.goal %>
</p>

<p>
  <strong>Song:</strong>
  <%= @lesson.song %>
</p>

<p>
  <strong>Homework:</strong>
  <%= @lesson.homework %>
</p>

<p>
  <strong>User:</strong>
  <%= @lesson.user %>
</p>

<%= link_to 'Edit', edit_user_lesson_path(@user, @lesson) %> |
<%= link_to 'Back', user_lessons_path(@user) %>
