<!DOCTYPE html>
<html>
<head>
  <title>씐나는 우쿠렐레렐교실~</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div>
    <ul>
      <li>
        <%= link_to schedules_path do %>
        <i class=""></i>홈
        <% end %>
      </li>
      <li>
        <%= link_to users_path do %>
        <i class=""></i>학생 현황
        <% end %>
      </li>
    </ul>
  </div>

  <%= yield %>

</body>
</html>
