<!DOCTYPE html>
<html>
<head>
  <title>씐나는 우쿠렐레렐교실~</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
  <div class="row">
    <div class="col-md-3">
        <div class="list-group">
              <%= link_to "스케줄", schedules_path, {class:"list-group-item"} %>
              <%= link_to "학생현황", users_path, {class:"list-group-item"} %>
              <%= link_to "사이트(홈)", root_path, {class:"list-group-item"} %>
        </div>
    </div>
        <div class="col-md-9">
          <%= yield %>
        </div>

  </div>
  </div>
</body>
</html>
