<!DOCTYPE html>
<html>
<head>
  <title>씐나는 우쿠렐레렐교실~</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="row">
    <div class="col-md-3">
        <ul>
            <li>
              <%= link_to schedules_path do %>
                <i class="icon-chevron-right"></i>스케줄
              <% end %>
            </li>
            <li>
              <%= link_to users_path do %>
                <i class="icon-chevron-right"></i>학생 현황
              <% end %>
            </li>
            <li>
              <%= link_to root_path do %>
                <i class="icon-chevron-right"></i>사이트 바로가기(홈)
              <% end %>
            </li>
        </ul>
    </div>
        <div class="col-md-9">
          <%= yield %>
        </div>

  </div>
</body>
</html>
